:root {
	--ym-site-bgd-color: #A8D4FF;
		--amadeus-header-menu-background: #e1e9f1;
	--ym-hf-bgd: #454521;
	--site-logo-bgd: #f6f6ff;
	--amw-footer-background: #eee;
}

#topbar {
    background-color: var(--ym-hf-bgd, blue)!important;
}

#container06 {background-color: #dff; padding-top: 30px; }

#header { padding: 0!important; }
#header .d-flex { gap: 0; }
#header h1 { padding: 0px; height: 80px; background: url(yieldmore-header-logo.png) no-repeat left center; background-size: contain; }

.composite-work > section {
    background-color: var(--ym-site-bgd-color, #eee)!important;
}

.composite-work > section > h2 { background-color: #fff; text-align: center; padding: 8px; }

.table-day-calendar .center-center { font-size: large; }
.table-month-calendar div.grey { width: 100%; min-height: 60px; background-color: #ccc; }
